@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
  font-family: Barlow;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
  var(--delay, 0ms);
 
  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}

.header-bg {
  background: url('/header-bg.svg') bottom no-repeat;
  background-size: cover;
}

.red_log {
  border: 2px solid crimson;
}